<%= form_for :comment, url: user_post_comments_path do |f| %>
      <p>
      <%= f.label :body %><br>
      <%= f.text_field :body %>
    </p>

     <%= f.hidden_field :post_id, :value => '2' %>
    <%= f.hidden_field :user_id, :value => '7' %>

      <p>
      <%= f.submit %>
    </p>
<% end %>